<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpdkyoWSDRVGFzOzVD9gyyLedINEt5DJI</string>
	<key>GCM_SENDER_ID</key>
	<string>49163275485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctroUser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gems-project-59e88</string>
	<key>STORAGE_BUCKET</key>
	<string>gems-project-59e88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49163275485:ios:2de8763c574bec2628df34</string>
</dict>
</plist>